/
  %div{ng_controller: "SessionsCtrl"}
    = form_tag({},{class: "form-sign", 'ng-submit' => 'signin()'}) do
      - if flash[:signin_error]
        %h3#error_explanation= flash[:signin_error]
      %h2.form-sign-heading= t "Please Sign In"
      = email_field_tag :email, params[:email], class: "form-control", placeholder: t("Email address"), required: "true", autofocus: "true", 'ng-model' => "email"
      = password_field_tag :password, params[:password], class: "form-control", placeholder: t("password"), required: "true", 'ng-model' => "password"
      = button_tag t("Signin"), class: "btn btn-lg btn-primary btn-block", 'ng-click' => 'signin()'
    %pre form = {{email | json}}


%div{ng_controller: "SessionsCtrl"}
  %form{class: "form-sign"}
    %h2.form-sign-heading= t "Please Sign In"
    %h3#error_explanation {{signin_error}}
    = email_field_tag :email, params[:email], class: "form-control", placeholder: t("Email address"), required: "true", autofocus: "true", 'ng-model' => "email"
    = password_field_tag :password, params[:password], class: "form-control", placeholder: t("password"), required: "true", 'ng-model' => "password"
    %button{class: "btn btn-lg btn-primary btn-block", 'ng-click' => 'signin()'}
      = t('Signin')
   
