%h1 Listing transaction_categories
%table
  %thead
    %tr
      %th User
      %th Name
      %th Description
      %th Parent
      %th{:colspan => "3"}
  %tbody
    - @transaction_categories.each do |transaction_category|
      %tr
        %td= transaction_category.user
        %td= transaction_category.name
        %td= transaction_category.description
        %td= transaction_category.parent_id
        %td= link_to 'Show', transaction_category
        %td= link_to 'Edit', edit_transaction_category_path(transaction_category)
        %td= link_to 'Destroy', transaction_category, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Transaction category', new_transaction_category_path
