%p#notice= notice
%p
  %strong User:
  = @transaction_category.user
%p
  %strong Name:
  = @transaction_category.name
%p
  %strong Description:
  = @transaction_category.description
%p
  %strong Parent:
  = @transaction_category.parent_id
= link_to 'Edit', edit_transaction_category_path(@transaction_category)
|
\#{link_to 'Back', transaction_categories_path}
