!!!
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
%head
  %title Mypurse
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body{'ng-controller' => "AppController"}
  .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Mypurse", root_path, class: "navbar-brand"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{ :class => controller_name == 'transactions' ? "active" : "" }
            = link_to t("Accounting"), transactions_path
          %li{ :class => controller_name == 'reports' ? "active" : "" }
            = link_to t("Reports"), reports_property_path
          %li{ :class => controller_name == 'configure' ? "active" : "" }
            = link_to t("Configure"), configure_language_path
          %li= link_to t("About"), "#about"
          %li= link_to t("Contact"), "#contact"
        %ul.nav.navbar-nav.navbar-right
          %li{'ng-if' => 'AuthService.isAuthenticated()'}= link_to '{{Session.user.name}}', user_path
          %li{'ng-if' => 'AuthService.isAuthenticated()', 'ng-controller' => "SessionsController"}
            %a{href: '', 'ng-click' => 'signout()'}= t('Signout')
          %li{'ng-if' => '!AuthService.isAuthenticated()'}= link_to t("Signin"), '#/signin'
          %li{'ng-if' => '!AuthService.isAuthenticated()'}= link_to t("Signup"), signup_path
      / /.nav-collapse
  .container-fluid
    - if flash[:alert]
      %h2#notice.flash.fade-in= flash[:alert]
    %div{:id => "sign", 'ng-if' => '!AuthService.isAuthenticated()', 'ng-controller' => "SessionsController"}
      %form{class: "form-sign"}
        %h2.form-sign-heading= t "Please Sign In"
        %h3#error_explanation {{signin_error}}
        = email_field_tag :email, params[:email], class: "form-control", placeholder: t("Email address"), required: "true", autofocus: "true", 'ng-model' => "credentials.email"
        = password_field_tag :password, params[:password], class: "form-control", placeholder: t("password"), required: "true", 'ng-model' => "credentials.password"
        %button{class: "btn btn-lg btn-primary btn-block", 'ng-click' => 'signin(credentials)'}
          = t('Signin')


    %div{'ng-view' => true}
      /= render "layouts/#{controller_name}"
