<%= form_for(@new_user, url: user_path) do |f| %>
  <% if @new_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @new_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<% if params[:action] == "edit" || params[:action] == "update"%>
	
	<div class="field">
		<%= f.label :current_password %>
		<%= f.password_field :current_password %>
	</div>

	<% end%>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <% if params[:action] == "edit" || params[:action] == "update"%>
      <%= f.submit value: "Update" %>
		<% else %>
	  	<%= f.submit value: "Signup" %>
		<% end %>
  </div>
<% end %>
