<%= form_for(@new_user, url: user_path, html: {class: "form-sign"}) do |f| %>
  <h2 class="form-sign-heading"><%= heading %></h2>
  <% if @new_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @new_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<% if params[:action] == "edit" || params[:action] == "update"%>
	
	<div class="field">
		<label for="user_current_password"><%= t "Current Password" %></label><br>
		<%= f.password_field :current_password %>
	</div>

	<% end%>

  <div class="field">
		<label for="user_name"><%= t "Name" %></label><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
		<label for="user_email"><%= t "Email" %></label><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
		<label for="user_password"><%= t "Password" %></label><br>
    <%= f.password_field :password %>
  </div>
  <div>
		<label for="user_password_confirmation"><%= t "Password Confirmation" %></label><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
		<label for="user_language"><%= t "Preferred Language" %></label><br>
    <%= f.select :language, (User.available_languages.map {|a| [a,a]}).unshift(["Unset",""]) %>
  </div>
  <div class="actions">
	  	<%= f.submit value: submit_value %>
  </div>
<% end %>
