%p#notice= notice
%p
  %strong User:
  = @account_type.user_id
%p
  %strong Name:
  = @account_type.name
%p
  %strong Description:
  = @account_type.description
= link_to 'Edit', edit_account_type_path(@account_type)
|
\#{link_to 'Back', account_types_path}
