%h1.page-header
  = t("Preferred Language")

= form_for(@user, url: configure_update_language_path, remote: true) do |f|
  .field
    %label{:for => "user_language"}= t "Preferred Language"
    %br/
    = f.select :language, (User.available_languages.map {|a| [a,a]}).unshift(["Unset",""])
  .actions
    = f.submit value: t('Update')

