= form_for(@category) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this account_category from being saved:
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :parent_id
    %br/
    = f.number_field :parent_id
  .field
    = f.label :type
    %br/
    = f.select :type, Category.types_select_option
  .actions
    = f.submit
