= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(@transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        - @transaction.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :time
    %br/
    = f.datetime_select :time
  .field
    = f.label :debit_id
    %br/
    = collection_select :transaction, :debit_id, @user.accounts, :id, :name
  .field
    = f.label :credit_id
    %br/
    = collection_select :transaction, :credit_id, @user.accounts, :id, :name
  .field
    = f.label :amount
    %br/
    = f.text_field :amount
  .actions
    = f.submit value: 'Submit'
