%p#notice= notice
%p
  %strong Debit:
  = link_to @transaction.debit.name, @transaction.debit
%p
  %strong Credit:
  = link_to @transaction.credit.name, @transaction.credit
%p
  %strong Debit Amount:
  = @transaction.debit_amount
%p
  %strong Credit Amount:
  = @transaction.credit_amount
= link_to 'Edit', edit_transaction_path(@transaction)
|
\#{link_to 'Back', transactions_path}
